.footersec{
    height: 150px;
    background-color: black;

}
.footersec p{
    color: #d0d0d0;
    font-size: 13px;
    text-align: center;
padding-top: 10px;
margin-top: 0;

}
.icons{
    margin-left: 554px;
   

}
.icons i{
    color: #fff;
    margin-left: 20px;
    cursor: pointer;

}