<div class="footersec">
    <p>Earning Disclaimer  |  Privacy Policy  |  Terms Of Service</p>
    <p> Copyright © 2016 Digital Plumbing Results. All right reserved.</p>
    <div class="icons">
    <i class="fa fa-dribbble" style="font-size:24px"></i> 
    <i class="fa fa-facebook" style="font-size:24px"></i> 
    <i class="fa fa-skype" style="font-size:24px"></i> 
    <i class="fa fa-twitter" style="font-size:24px"></i> 
    <i class="fa fa-youtube" style="font-size:24px"></i> 
    </div>
    <p id="animation"></p>
</div>
