<div class="contact_sec">
    <div>
        <h2>{{contact.title}}</h2>
        <p>{{contact.discription}}</p>
        <h6>{{contact.data}}</h6>
    </div>
    <div>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="Company Name" placeholder="Company Name">
        <input type="text" id="Email" placeholder="Email">
        <input type="text" id="Phone" placeholder="Phone">
        <textarea placeholder="MESSAGE"></textarea>
        <button>SUBMIT</button>
    </div>
</div>